<h1>Code Samples</h1>
<p>The projects in my portfolio have either been worked on by other developers or are no longer available, so are not fully representative of my work.</p>

<p>I have made the complete source code to this portfolio site <a href="http://www.github.com/penx/www.mcleay.com">available on Github</a>. The site is a complete JavaScript stack and is based upon <a href="https://github.com/airbnb/rendr">Rendr</a>/<a href="http://backbonejs.org">Backbone.js</a>/<a href="http://nodejs.org">node.js</a>.</p>

{{! 
<p>The projects in my portfolio have either been worked on by other developers or are no longer available, so are not fully representative of my work, but some links are included below.
</p>
<p>I have led front end development teams of up to 8 developers, as well as mixed ASP.Net/front-end/Flash project teams.
</p>
<p>In these roles I have been responsible for documenting company wide development standards and practices for the team to follow. I always aim to produce clean, understandable code and have listed a few standards I follow when coding below:
</p>

Produce validating HTML, JavaScript and CSS, not least in order to ease detection of errors/typos and compatibility with compression algorithms.
Aim for full AAA compatibility wherever possible and alert project lead when this is not obtainable.
Produce pixel perfect versions of supplied designs and seek designer input where necessary.
Use feature detection rather than browser targeting, and progressive enhancement rather than graceful degradation.
Use animation where appropriate using CSS3 and falling back to JavaScript for older browsers.
Write JavaScript that validates with jslint (if possible, create warnings in the build process for invalid files).
Compress JavaScript and CSS using YUI preferably during build process else manually
Use front end automation/build techniques where appropriate and agreed upon by the team, such as node.js, grunt, SASS
Code using any existing company standards, or to match any existing code in the project I am working on.
When coding Microsoft ASP.Net, if no coding standards are specified, use Microsoft's guidelines as (mostly) used in Microsoft's own ASP.Net framework code.

<p>Alternatively, should you wish to view actual code, the following URLs should contain code that is most reflective of my work:
</p>
<p>Sites:
</p>
http://womens10kresults.nikeapp.com/weownthenightlondon/en_GB
https://womens10k.nikeapp.com/weownthenightberlin/en_GB
https://tipexchange.vanish.co.uk

<p>CSS:
</p>
http://womens10kresults.nikeapp.com/static/css/generic.css
(note this is the uncompressed version, and contains comments that are not normally publicly visible. It is passed through YUI before being sent to the browser)

<p>JavaScript:
</p>
http://womens10k.nikeapp.com/static/js/main.js
(note this is the uncompressed version, and contains comments that are not normally publicly visible. It is passed through YUI before being sent to the browser)

 }}
