<h1>Code Samples</h1>
{{! <p>The projects in my portfolio have either been worked on by other developers or are no longer available, so are not fully representative of my work.</p>
 }}

<p>I have made the complete source code to this site <a href="http://www.github.com/penx/www.mcleay.com">available on Github</a>. The site is a complete <a href="http://blog.mongodb.org/post/49262866911/the-mean-stack-mongodb-expressjs-angularjs-and">JavaScript stack</a> using <a href="http://backbonejs.org">Backbone.js</a>, <a href="http://expressjs.com">Express</a> and <a href="http://nodejs.org">node.js</a>, with <a href="http://www.mongodb.org">MongoDB</a> to be added shortly. It is based upon the excellent (but beta) <a href="https://github.com/airbnb/rendr">Rendr</a> library, that handles server side rendering of Backbone.js templates, resulting in single page applications with improved SEO and limited accessibility issues.</p>

<p>The first (and current) version of this site is focused on functionality - it only has basic styles, using Twitter Bootstrap. A future version will see a new design, with development focused on CSS/Animation.</p>

<p>I have also listed some of my general approaches to coding below:</p>

<ul>
	<li>Produce validating HTML, JavaScript (using jslint) and CSS, not least in order to ease detection of errors/typos and compatibility with compression algorithms.</li>
	<li>Aim for full AAA compatibility wherever possible and alert project lead when this is not obtainable.</li>
	<li>Produce pixel perfect versions of supplied designs and seek designer input where necessary.</li>
	<li>Use feature detection rather than browser targeting, and progressive enhancement rather than graceful degradation.</li>
	<li>Use animation where appropriate using CSS3 and falling back to JavaScript for older browsers.</li>
	<li>Compress JavaScript and CSS using YUI preferably during build process, else manually</li>
	<li>Use front end automation/build techniques where appropriate and agreed upon by the team, such as node.js, grunt, SASS</li>
	<li>Code using any existing company standards, or to match any existing code in the project I am working on.</li>
	<li>If no other coding standards have been specified, use vendor guidelines or follow styles used in framework source code.</li>
</ul>