{{! Perhaps auto pull this in from LinkedIn }}
<h1>A.J. McLeay Ltd</h1>

<p>I am a freelance developer and technical consultant, specialising in JavaScript and ASP.Net (though I have experience in a wide variety of server and client side technologies).
</p>
<p>I have been developing websites since 1996 and was using C, Basic and HyperCard even earlier. Having been lucky enough to turn something I love into a career, I continue to try out new programming languages and other technologies in my spare time.
</p>
<p>I learnt ASP.Net whilst working for a great software house in North Wales and then moved to London, where I held senior ASP.Net and front-end roles at leading creative agencies.
</p>
<p>I left my role as Deputy Technical Director at iris Worldwide in 2011, in order to take some time off and study for an M.Sc. Scientific Computation at the University of Sussex. Since graduating, I have been focusing on freelance development projects in London.
</p>
<p>LinkedIn: <a href="http://www.linkedin.com/in/alasdairmcleay">http://www.linkedin.com/in/alasdairmcleay</a>
</p>

<p>{{copyright "2013"}}</p>
