{{! Perhaps auto pull this in from LinkedIn }}
<h1>A.J. McLeay Ltd</h1>

{{! TODO: ensure double /n doesn't result in blank paragraphs }}
{{! TODO: cache linkedin data }}
{{paragraphSplit summary}}

<p>Via LinkedIn: <a href="http://www.linkedin.com/in/alasdairmcleay">http://www.linkedin.com/in/alasdairmcleay</a>
</p>


