<div id="template-projects-index">
  <h1>Portfolio</h1>

  <ul>
  {{#each models}}
    <li>
    	<a href="/projects/{{id}}">
    		<img src="/images/projects/{{id}}.png" />
    		{{name}}

    	</a>
    	<div class="tags">
  		{{#each tags}}{{#if @index}},{{/if}}
        {{! TODO: add tags }}
        {{this}}
    		{{! <a href="/projects/tags/tag">tag</a> }}
      {{/each}}
  	  </div>
    </li>
  {{/each}}
  </ul>
</div>