<h1>Availability</h1>

<p>

Orange: Tentative
Red: Busy
</p>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&height=400&wkst=1&bgcolor=%23FFFFFF&src=l4nk7g8itmou0maor7bcrmlsm0%40group.calendar.google.com&color=%23711616&src=4as6pcmf6u99eumbik4bjel08c%40group.calendar.google.com&color=%238C500B&ctz=Europe%2FLondon" style=" border-width:0 " width="560" height="400" frameborder="0" scrolling="no"></iframe>