#template-projects-index
  ul
    margin: 0;
    list-style: none;
    li
      float: left;
      width: 220px;
      .tags
        font-size: 0.8em;
        a
          text-decoration: underline;
          color: #999;